<a href="https://colab.research.google.com/github/Deepansh-tandon/cognitive-assignments/blob/main/Assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Question
 Create a List
operations:
 i. Add
200 and
L defined as
300 to L.
 ii. Remove
10 and
[10, 20, 30, 40, 50, 60, 70, 80] and perform the following
30 from L.
 iii. Sort
L in ascending order.
 iv. Sort
L in descending order.

In [3]:
L=[10,20,30,40,50,60,70,80]
print(L)
L.append(200)
L.append(300)
L.remove(10)
L.remove(30)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

 2. Tuple Operations
 Question
 Create a tuple of marks scored as
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations:
 i. Identify the highest score and its index in the tuple.
 ii. Find the lowest score and count how many times it appears.
 iii. Reverse the tuple and return it as a list.
 iv. Check if a specific score
76 (input by the user) is present in the tuple and print
its first occurrence index, or a message saying it ºs not present.

In [10]:
scores=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
n=max(scores)
print("max element",n)
print("index of",scores.index(n))
m=min(scores)
print("count of",scores.count(m))
l=list(reversed(scores))
print(l)
a=76
if a in scores:
  i=scores.index(a)
  print(i)

max element 92
index of 5
count of 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
2

 3. Random Numbers and Counting
 Question
 Write a program to create a list of 100 random numbers between 100 and 900.
Count and print:
 i. All odd numbers.
 ii. All even numbers.
 iii. All prime numbers.

In [15]:
import random
l=[]
for i in range(1,101):
  l.append(random.randint(100,900))
print(l)
e=[]
o=[]
p=[]

def isprime(n):
  i=0
  c=0
  for i in range(1,n+1):
    if(n%i==0):
        c=c+1
  if c==2:
      return True
  else:
      return False

a=0
b=0
d=0
for i in l:
  if i%2==0:
    e.append(i)
    a=a+1
  else:
    o.append(i)
    b=b+1
  if isprime(i):
    p.append(i)
    d=d+1

print("odd",o)
print("no of odd",a)
print("even",e)
print("no of even",b)
print("prime",p)
print("no of prime",d)

[387, 896, 760, 626, 608, 553, 162, 541, 691, 776, 535, 574, 158, 132, 318, 266, 342, 114, 643, 803, 143, 870, 614, 716, 145, 715, 357, 137, 448, 877, 392, 718, 139, 489, 814, 509, 602, 795, 528, 595, 190, 252, 489, 827, 160, 535, 675, 480, 396, 611, 855, 675, 737, 286, 772, 459, 340, 755, 284, 677, 865, 421, 154, 623, 351, 260, 424, 805, 465, 197, 377, 652, 874, 285, 584, 484, 844, 842, 594, 807, 646, 448, 514, 203, 692, 170, 172, 548, 712, 834, 838, 737, 256, 668, 781, 486, 262, 231, 607, 859]
odd [387, 553, 541, 691, 535, 643, 803, 143, 145, 715, 357, 137, 877, 139, 489, 509, 795, 595, 489, 827, 535, 675, 611, 855, 675, 737, 459, 755, 677, 865, 421, 623, 351, 805, 465, 197, 377, 285, 807, 203, 737, 781, 231, 607, 859]
no of odd 55
even [896, 760, 626, 608, 162, 776, 574, 158, 132, 318, 266, 342, 114, 870, 614, 716, 448, 392, 718, 814, 602, 528, 190, 252, 160, 480, 396, 286, 772, 340, 284, 154, 260, 424, 652, 874, 584, 484, 844, 842, 594, 646, 448, 514, 692, 170, 172, 548, 712, 834, 838, 256, 668, 486, 262]
no of even 45
prime [541, 691, 643, 137, 877, 139, 509, 827, 677, 421, 197, 607, 859]
no of prime 13

 Consider the following sets representing scores of two teams:
 A = {34, 56, 78, 90} and
B = {78, 45, 90, 23} . Perform the following operations:
 i. Find the unique scores achieved by both teams (union).
 ii. Identify the scores that are common to both teams (intersection).
 iii. Find the scores that are exclusive to each team (symmetric difference).
 iv. Check if the scores of team A are a subset of team B, and if team B's scores
are a superset of team A.
 v. Remove a specific score
X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [18]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("Union of A nd B",A|B)
print("Intersection of A nd B",A&B)
print("sym diff of A nd B",A^B)

if(A.issubset(B)):
  print("A is subset of B")
else:
  print("A is not subset of B")

if(B.issuperset(A)):
  print("B is superset of A")
else:
  print("B is not superset of A")

n=int(input("enter no"))
try:
  A.remove(n)
  print("element removed")
except KeyError:
  print("error")

print(A)

Union of A nd B {34, 45, 78, 23, 56, 90}
Intersection of A nd B {90, 78}
sym diff of A nd B {34, 45, 23, 56}
A is not subset of B
B is not superset of A
enter no78
element removed
{56, 34, 90}

 Write a program to rename a key
city to
location in the following dictionary:
 data = {"city": "New York", "population": 8419600, "area": 468.9}

In [25]:
data = {"city": "New York", "population": 8419600, "area": 468.9}
data["location"]="New York"
data.pop("city")
print(data)

{'population': 8419600, 'area': 468.9, 'location': 'New York'}